---
let links = [
  {
    Url:"/",
    Text:"Inicio",
  },
  {
    Url:"/areas-practicas",
    Text:"Areas Practicas",
  },
  {
    Url:"/eventos",
    Text:"Eventos",
  },
  {
    Url:"/about-us",
    Text:"Sobre Nosotros",
  }
]
---
<header role="navigation" class="h-24 lg:h-32 md:backdrop-blur-lg static md:sticky md:top-0 px-2 lg:px-20 z-50 animate-fade-in-up">
  <div class="flex flex-row gap-4 lg:gap-10 items-center justify-between w-full h-full">
    <h1 class="font-libre text-3xl font-bold text-zinc-50 tracking-tight">Cobros <span class="text-orange-400">Infante</span></h1>
    <label for="check" class="flex md:hidden items-center justify-center peer">
      <input name="check" id="check" type="checkbox" class="absolute right-0 hidden">
      <ion-icon name="menu" class="text-3xl transition-colors text-zinc-100 peer-has-[:checked]:text-blue-400"></ion-icon>
    </label>
    <nav class="z-10 bg-gradient-to-r md:bg-none from-slate-700 to-stone-700 border-solid md:border-none border-b-2 border-transparent flex flex-col md:flex-row items-center justify-center md:justify-start gap-8 md:gap-6 font-semibold text-base absolute md:static top-20 md:top-auto right-0 md:right-auto overflow-hidden px-2 md:px-0 transition-all h-0 md:h-fit w-full md:w-fit peer-has-[:checked]:h-80 peer-has-[:checked]:py-10 peer-has-[:checked]:border-zinc-50">
      {links.map(x => <div><a href={x.Url} class="text-zinc-50 transition-colors hover:text-orange-300 active:text-orange-200 md:text-opacity-45 md:hover:text-opacity-85">{x.Text}</a></div>)}
    </nav>
    <a href="/contacto" class="px-7 py-2 hidden md:inline-flex transition-colors ease-in font-bold bg-zinc-200 border-2 border-solid border-zinc-200 hover:bg-stone-700 rounded-full text-zinc-800 hover:text-orange-300 active:text-orange-200">Contactenos</a>
  </div>
</header>