<footer class="h-fit bg-gradient-to-r from-slate-700 to-stone-700 flex flex-col gap-8">
  <div class="h-fit md:h-96 px-2 md:px-20 pt-8 flex flex-col gap-8">
    <!--Second nav-->
    <nav class="border-none md:border-solid border-2 border-zinc-50 rounded-xl flex flex-col md:flex-row gap-4 md:gap-0 justify-between items-center py-8 px-10">
      <a class="font-libre text-3xl font-bold text-zinc-50 tracking-tight">Cobros <span class="text-orange-400">Infante</span></a>
      <div class="flex items-center gap-2">
        <p class="text-lg font-semibold font-libre antialiased tracking-wide text-zinc-50 text-opacity-60">Síguenos en:</p>
        <div class="flex items-center justify-center *:flex *:justify-center *:items-center gap-2 *:bg-raw-umber *:py-2 *:px-2 *:rounded-full">
          <a href="#" target="_blank" class="transition-colors hover:bg-slate-600"><ion-icon name="logo-facebook" class="text-2xl text-zinc-50"></ion-icon></a>
          <a href="#" target="_blank" class="transition-colors hover:bg-slate-600"><ion-icon name="logo-whatsapp" class="text-2xl text-zinc-50"></ion-icon></a>
          <a href="#" target="_blank" class="transition-colors hover:bg-slate-600"><ion-icon name="logo-twitter" class="text-2xl text-zinc-50"></ion-icon></a>
        </div>
      </div>
    </nav>
    <!--Links-->
    <section class="grid grid-cols-1 md:grid-cols-4 grid-rows-4 md:grid-rows-1 px-2 md:px-10 h-fit">
      <div class="flex flex-col gap-6">
        <div class="space-y-4">
          <p class="text-xl font-semibold font-libre tracking-wide text-orange-300">Enlaces Rápidos</p>
          <div class="h-1 bg-orange-500 w-2/3"><div class="h-full bg-white w-8"></div></div>
        </div>
        <nav>
          <ol class="space-y-4">
            <li class="text-zinc-50 text-opacity-70">-  <a href="/" class="font-semibold tracking-wide font-libre transition-all hover:text-blue-300 hover:text-opacity-100 active:text-blue-100 text-lg">Inicio</a></li>
            <li class="text-zinc-50 text-opacity-70">-  <a href="/services/" class="font-semibold tracking-wide font-libre transition-all hover:text-blue-300 hover:text-opacity-100 active:text-blue-100 text-lg">Servicios</a></li>
            <li class="text-zinc-50 text-opacity-70">-  <a href="/contact/" class="font-semibold tracking-wide font-libre transition-all hover:text-blue-300 hover:text-opacity-100 active:text-blue-100 text-lg">Contacto</a></li>
            <li class="text-zinc-50 text-opacity-70">-  <a href="/about-us/" class="font-semibold tracking-wide font-libre transition-all hover:text-blue-300 hover:text-opacity-100 active:text-blue-100 text-lg">About Us</a></li>
          </ol>
        </nav>
      </div>
      <div>
        <div class="space-y-4">
          <p class="text-xl font-semibold font-libre tracking-wide text-orange-300">Contáctenos</p>
          <div class="h-1 bg-orange-500 w-2/3"><div class="h-full bg-white w-8"></div></div>
        </div>
      </div>
      <div>
        <div class="space-y-4">
          <p class="text-xl font-semibold font-libre tracking-wide text-orange-300">Áreas De Práctica</p>
          <div class="h-1 bg-orange-500 w-2/3"><div class="h-full bg-white w-8"></div></div>
        </div>
      </div>
      <div>
        <div class="space-y-4">
          <p class="text-xl font-semibold font-libre tracking-wide text-orange-300">Otros Enlaces</p>
          <div class="h-1 bg-orange-500 w-2/3"><div class="h-full bg-white w-8"></div></div>
        </div>
      </div>
    </section>
  </div>
  <!--Copy-->
  <div class="h-10 bg-raw-umber flex items-center">
    <p class="text-base text-zinc-50 font-libre text-center w-full h-fit">&copy; Derechos Reservados:<a href="https://github.com/CoollbreackerzSdo" target="_blank"><span class="text-zinc-50 transition-opacity hover:text-blue-300">Ralber Infante</span></a></p>
  </div>
</footer>