<footer class="h-fit bg-gradient-to-r from-slate-700 to-stone-700">
  <section class="px-0 lg:px-20">

  </section>
  <div class="h-10 bg-raw-umber flex items-center">
    <p class="text-base text-zinc-50 font-libre text-center w-full h-fit">&copy; Derechos Reservados:<a href="#" target="_blank"><span class="text-zinc-50 transition-opacity hover:text-blue-300">Ralber Infante</span></a></p>
  </div>
</footer>