---
import LegalCom from "../../components/icons/legalCom.astro";
import Lib from "../../components/icons/lib.astro";
import Has from "../../components/icons/has.astro";
import Breack from "../../components/icons/breack.astro";
---
<section class="w-full flex py-8 md:py-0 gap-y-8 md:gap-y-0 flex-wrap flex-row h-fit items-center *:items-center *:md:items-start justify-around md:h-52 bg-gradient-to-r from-slate-700 to-stone-700 px-2 lg:px-10">
  <!--Element-->
  <div class="flex flex-col gap-1 justify-center items-center md:items-start w-1/2 md:w-fit">
    <LegalCom/>
    <p class="normal-nums font-bold text-4xl text-zinc-50 font-libre tracking-wider">120+</p>
    <p class="font-semibold text-zinc-50 text-sm tracking-normal font-libre text-opacity-85">Reaciones Expertas</p>
  </div>
  <!--Separator-->
  <div class="w-1 h-2/3 border-l-2 border-white border-opacity-85 border-spacing-y-4 border-dashed hidden md:inline-flex"></div>
  <!--Element-->
  <div class="flex flex-col gap-1 justify-center items-start w-1/2 md:w-fit">
    <Breack/>
    <p class="normal-nums font-bold text-4xl text-zinc-50 font-libre tracking-wider">90+</p>
    <p class="font-semibold text-zinc-50 text-sm tracking-normal font-libre text-opacity-85">Casos Completos</p>
  </div>
  <!--Separator-->
  <div class="w-1 h-2/3 border-l-2 border-white border-opacity-85 border-spacing-y-4 border-dashed hidden md:inline-flex"></div>
  <!--Element-->
  <div class="flex flex-col gap-1 justify-center items-start w-1/2 md:w-fit">
    <Has/>
    <p class="normal-nums font-bold text-4xl text-zinc-50 font-libre tracking-wider">170+</p>
    <p class="font-semibold text-zinc-50 text-sm tracking-normal font-libre text-opacity-85">Clientes Felices</p>
  </div>
  <!--Separator-->
  <div class="w-1 h-2/3 border-l-2 border-white border-opacity-85 border-spacing-y-4 border-dashed hidden md:inline-flex"></div>
  <!--Element-->
  <div class="flex flex-col gap-1 justify-center items-start w-1/2 md:w-fit">
    <Lib/>
    <p class="normal-nums font-bold text-4xl text-zinc-50 font-libre tracking-wider">60+</p>
    <p class="font-semibold text-zinc-50 text-sm tracking-normal font-libre text-opacity-85">Casos Cerrados</p>
  </div>
</section>