@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #696969 ;
  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-duration: 150ms;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #888888;
}
body::-webkit-scrollbar-track{
  background-color: #44403c;
}

.animate-reveal{
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes reveal {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}