---
import Main from "../layouts/main.astro";
import Hero from "./sections/hero.astro";
import Qualities from "./sections/qualities.astro";
import AboutClient from "./sections/aboutClient.astro";
import CoinIcon from "../components/icons/coin.astro";
import AuditIcon from "../components/icons/audit.astro";
import State from "../components/icons/state.astro";
---
<Main Title="Cobros Infante | Home">
	<div>
		<Hero/>
		<main class="space-y-40 font-libre">
			<!--Best Services-->
			<section class="px-2 lg:px-10">
				<section class="mt-10 sm:mt-40">
					<div class="space-y-8">
						<h3 class="text-3xl md:text-7xl text-orange-400 font-bold text-center uppercase text-balance animate-reveal">Nuestros Servicios<br/> Mas Proactivos</h3>
						<p class="text-center font-medium text-base md:text-xl leading-snug text-zinc-600 text-opacity-90 animate-reveal">Nos enorgullece ofrecer una gama de servicios legales proactivos diseñados para anticipar y abordar las necesidades legales de nuestros clientes de manera eficiente y efectiva.<span class="hidden md:inline">Nuestro enfoque proactivo se centra en identificar y resolver problemas potenciales antes de que se conviertan en conflictos mayores, brindando a nuestros clientes tranquilidad y seguridad en sus asuntos legales.</span></p>
					</div>
					<section class="mt-20 flex justify-center items-center w-full">
						<div class="columns-1 md:columns-3 *:border-2 *:border-solid *:border-zinc-600 *:border-opacity-80 *:h-fit *:md:h-96 *:w-full *:md:w-96 space-y-4 md:space-y-0 *:p-4 *:flex *:flex-col *:justify-around *:items-start">
							<article class="sm:hidden lg:inline-flex animate-reveal">
								<CoinIcon/>
								<div class="space-y-3">
									<span class="text-2xl uppercase font-bold text-zinc-800 mb-4">Planificación Patrimonial y Sucesoria</span>
									<p class="text-base font-normal leading-snug text-start text-balance text-zinc-700 text-opacity-90">Proteger su patrimonio y el bienestar de sus seres queridos mediante la elaboración de testamentos, fideicomisos y otros instrumentos legales que aseguren una transferencia de patrimonio sin problemas y conforme a sus deseos.</p>
								</div>
							</article>
							<article class="animate-reveal">
								<AuditIcon/>
								<div class="space-y-3">
									<span class="text-2xl font-bold text-zinc-800 uppercase mb-4">Auditoría Legal Preventiva</span>
									<p class="text-base font-normal leading-snug text-start text-balance text-zinc-700 text-opacity-90">Realizamos auditorías legales exhaustivas para identificar posibles áreas de riesgo y vulnerabilidad en las operaciones comerciales de nuestros clientes, proporcionando recomendaciones y soluciones preventivas para mitigar riesgos legales.</p>
								</div>
							</article>
							<article class="animate-reveal">
								<State/>
								<div class="space-y-3">
									<span class="text-2xl font-bold text-zinc-800 mb-4 uppercase">Monitoreo de Cambios Legales</span>
									<p class="text-base font-normal leading-snug text-start text-balance text-zinc-700 text-opacity-90">Estamos atentos a los cambios en la legislación y las regulaciones relevantes para nuestros clientes, manteniéndolos informados sobre nuevas leyes y requisitos legales que puedan afectar sus operaciones comerciales y personales.</p>
								</div>
							</article>
						</div>
					</section>
				</section>
			</section>
			<!--Questions-->
			<Qualities/>
			<!--Reseña-->
			<AboutClient/>
		</main>
	</div>
</Main>