---
import Main from "../layouts/main.astro";
import Hero from "./sections/hero.astro";
import Qualities from "./sections/qualities.astro";
import BoxRowGrid from "../components/articles/boxRowGrid.astro";
---
<Main Title="Cobros Infante | Home">
	<div>
		<Hero/>
		<main class="mt-20 space-y-40">
			<!--Questions-->
			<Qualities/> 
			<!--Best Services-->
			<section class="px-2 lg:px-10 space-y-32 py-10">
				<h2 class="align-baseline text-center text-6xl font-bold font-libre text-zinc-600"><span class="text-zinc-950">Mejores</span> Servicios</h2>
				<section class="grid grid-rows-3 grid-cols-1 divide-dashed divide-y-2 divide-zinc-900 *:h-32 *:flex *:justify-between *:items-center">
					<div>
						<BoxRowGrid Number="01" 
												Src="/img/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg"
												Title="Asesoramiento legal en temas de bienes raíces." 
												Text="En Cobros Infante, entendemos que las transacciones inmobiliarias pueden ser complejas y llenas de desafíos legales. Nuestro servicio de asesoramiento legal en temas de bienes raíces está diseñado para brindarte la orientación experta que necesitas para tomar decisiones informadas y proteger tus intereses en todo momento."/>
					</div>
					<div>
						<BoxRowGrid Number="02" 
												Src="/img/sasun-bughdaryan-e11Oa3kvx4c-unsplash.jpg"
												Title="Consultoría sobre Contratos Financieros y Acuerdos de Pago"
												Text="Nuestro servicio de consultoría está diseñado para proporcionarte la orientación experta que necesitas para comprender y negociar términos y condiciones equitativos que protejan tus intereses."/>
					</div>
					<div>
						<BoxRowGrid Number="03"
												Src="/img/scott-graham-OQMZwNd3ThU-unsplash.jpg"
												Title="Representación Legal en Procedimientos de Cierre de Transacciones y Transferencia de Propiedad"
												Text="Nuestro equipo legal está dedicado a proporcionarte la representación experta que necesitas para garantizar un cierre fluido y exitoso."/>
					</div>
				</section>
			</section>
		</main>
	</div>
</Main>