---
import Main from "../layouts/main.astro";
import Hero from "./sections/hero.astro";
import Qualities from "./sections/qualities.astro";
import BoxRowGrid from "../components/articles/boxRowGrid.astro";
import AboutClient from "./sections/aboutClient.astro";
import Legal from "../components/icons/legal.astro";
import Juerge from "../components/icons/juerge.astro";
import Breack from "../components/icons/breack.astro";
---
<Main Title="Cobros Infante | Home">
	<main class="h-svh flex justify-center items-center">
    <div class="terminal-loader">
      <div class="terminal-header">
      <div class="terminal-title">Status</div>
      <div class="terminal-controls">
        <div class="control close"></div>
        <div class="control minimize"></div>
        <div class="control maximize"></div>
      </div>
    </div>
    <div class="text">On Construction...</div>
  </div>
  </main>
</Main>