---
import Main from "../layouts/main.astro";
import Hero from "./sections/hero.astro";
import Qualities from "./sections/qualities.astro";
import AboutClient from "./sections/aboutClient.astro";
import CoinIcon from "../components/icons/coin.astro";
import AuditIcon from "../components/icons/audit.astro";
import State from "../components/icons/state.astro";
---
<Main Title="Cobros Infante | Home">
	<main class="h-svh flex justify-center items-center">
    <div class="terminal-loader">
      <div class="terminal-header">
      <div class="terminal-title">Status</div>
      <div class="terminal-controls">
        <div class="control close"></div>
        <div class="control minimize"></div>
        <div class="control maximize"></div>
      </div>
    </div>
    <div class="text">On Construction...</div>
  </div>
  </main>
</Main>